<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="shapefileGeoServerGenerator" class="it.geosolutions.iengine.geoserver.shapefile.ShapeFileGeoServerGeneratorService">
		<property  name="id">
    		<value>shapefileGeoServerGenerator</value>
    	</property>
    	<property name="description">
    		<value>shapefileGeoServerGenerator</value>
    	</property>
    	<property name="name">
    		<value>shapefileGeoServerGenerator</value>
    	</property>	
	</bean>
    



</beans>