<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="geotiffGeoServerGeneratorService" class="it.geosolutions.iengine.geoserver.geotiff.GeoTIFFGeoServerGeneratorService">
		<property  name="id">
    		<value>geotiffGeoServerGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>geotiffGeoServerGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>geotiffGeoServerGeneratorService</value>
    	</property>
    </bean>	
    
    

	<!-- Environment Initialization -->
	<bean id="geotiffOverviewsEmbedderService" class="it.geosolutions.iengine.geotiff.overview.GeoTiffOverviewsEmbedderService">
		<property  name="id">
    		<value>geotiffOverviewsEmbedderService</value>
    	</property>
    	<property name="description">
    		<value>geotiffOverviewsEmbedderService</value>
    	</property>
    	<property name="name">
    		<value>geotiffOverviewsEmbedderService</value>
    	</property>
    </bean>	    
    
    
	<!-- Environment Initialization -->
	<bean id="geoTiffRetilerService" class="it.geosolutions.iengine.geotiff.retile.GeoTiffRetilerService">
		<property  name="id">
    		<value>geoTiffRetilerService</value>
    	</property>
    	<property name="description">
    		<value>geoTiffRetilerService</value>
    	</property>
    	<property name="name">
    		<value>geoTiffRetilerService</value>
    	</property>
    </bean>	      

</beans>