<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Environment Initialization -->
	<bean id="netcdffileGeneratorService" class="it.geosolutions.geobatch.nc.NetCDFFileGeneratorService">
		<property  name="id">
    		<value>netcdffileGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>netcdffileGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>netcdffileGeneratorService</value>
    	</property>	
	</bean>

</beans>