<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

		 
	<!-- Environment Initialization -->
	<bean id="NetCDFCFGeodetic2GeoTIFFsGeneratorService" class="it.geosolutions.geobatch.jgsflodess.NetCDFCFGeodetic2GeoTIFFsGeneratorService">
		<property  name="id">
    		<value>NetCDFCFGeodetic2GeoTIFFsGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>NetCDFCFGeodetic2GeoTIFFsGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>NetCDFCFGeodetic2GeoTIFFsGeneratorService</value>
    	</property>	
	</bean>
	
	<bean id="JGSFLoDeSSSWANGeneratorService" class="it.geosolutions.geobatch.jgsflodess.JGSFLoDeSSSWANGeneratorService">
		<property  name="id">
    		<value>JGSFLoDeSSSWANGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>JGSFLoDeSSSWANGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>JGSFLoDeSSSWANGeneratorService</value>
    	</property>	
	</bean>
	
	<bean id="JGSFLoDeSSCOAMPSGeneratorService" class="it.geosolutions.geobatch.jgsflodess.JGSFLoDeSSCOAMPSGeneratorService">
		<property  name="id">
    		<value>JGSFLoDeSSCOAMPSGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>JGSFLoDeSSCOAMPSGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>JGSFLoDeSSCOAMPSGeneratorService</value>
    	</property>	
	</bean>
	
	<!-- lscv08 fluxes  -->	
	<bean id="MERCATORGeneratorService" class="it.geosolutions.geobatch.lscv08.MERCATORGeneratorService">
		<property  name="id">
    		<value>JGSFLoDeSSMERCATORGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>JGSFLoDeSSMERCATORGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>JGSFLoDeSSMERCATORGeneratorService</value>
    	</property>	
	</bean>

	<bean id="NRLNCOMGeneratorService" class="it.geosolutions.geobatch.lscv08.NRLNCOMGeneratorService">
		<property  name="id">
    		<value>JGSFLoDeSSNCOMGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>JGSFLoDeSSNCOMGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>JGSFLoDeSSNCOMGeneratorService</value>
    	</property>	
	</bean>
	
	<bean id="INGVGeneratorService" class="it.geosolutions.geobatch.lscv08.INGVGeneratorService">
		<property  name="id">
    		<value>JGSFLoDeSSIGNVGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>JGSFLoDeSSINGVGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>JGSFLoDeSSINGVGeneratorService</value>
    	</property>	
	</bean>
	
	<bean id="HDF42GeoTIFFsGeneratorService" class="it.geosolutions.geobatch.remsens.HDF42GeoTIFFsGeneratorService">
		<property  name="id">
    		<value>HDF42GeoTIFFsGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>HDF42GeoTIFFsGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>HDF42GeoTIFFsGeneratorService</value>
    	</property>	
	</bean>

	<bean id="NURCWPSOutput2WMCGeneratorService" class="it.geosolutions.geobatch.wmc.NURCWPSOutput2WMCGeneratorService">
		<property  name="id">
    		<value>NURCWPSOutput2WMCGeneratorService</value>
    	</property>
    	<property name="description">
    		<value>NURCWPSOutput2WMCGeneratorService</value>
    	</property>
    	<property name="name">
    		<value>NURCWPSOutput2WMCGeneratorService</value>
    	</property>	
	</bean>

</beans>