<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">

	<bean id="postgisDataStore" class="it.geosolutions.geobatch.track.datastore.Postgis">
		<property name="factoryClass"
			value="org.geotools.data.postgis.PostgisNGDataStoreFactory" />
		<property name="params">
			<map>
				<entry key="dbtype">
					<value>postgis</value>
				</entry>
				<entry key="host">
					<value>localhost</value>
				</entry>
				<entry key="port">
					<value>5432</value>
				</entry>
				<entry key="schema">
					<value>public</value>
				</entry>
				<entry key="database">
					<value>shard_track</value>
				</entry>
				<entry key="user">
					<value>postgres</value>
				</entry>
				<entry key="passwd">
					<value>postgres</value>
				</entry>
			</map>
		</property>
		<property name="shardingSystemTable" value="shard_system" />

	</bean>

	<context:annotation-config />

	<!-- Environment Initialization -->
	<bean id="fusedTrackGeneratorService"
		class="it.geosolutions.geobatch.track.contact.FusedTrackGeneratorService">
		<property name="id">
			<value>fusedTrackGeneratorService</value>
		</property>
		<property name="description">
			<value>fusedTrackGeneratorService</value>
		</property>
		<property name="name">
			<value>fusedTrackGeneratorService</value>
		</property>
		<property name="contactDAO" ref="contactDAO"/>
		<property name="pastContactPositionDAO" ref="pastContactPositionDAO"/>
		<property name="contactTypeDAO" ref="contactTypeDAO"/>
	    <property name="postgisDataStore" ref="postgisDataStore" />
	</bean>	

</beans>